.nav-link.active {
    font-weight: bold;
}
.nav-tabs .nav-link {
    color: gray;
}

.report_container{
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.sticky-header th {
    font-size: 15px;
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .lrt{
    direction: rtl;
    text-align: right;
  }

  